@import './base.css';

#app { 
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
} 

a,
.green {
  text-decoration: none;
  color: rgb(65, 162, 253);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    scale: 1.1;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    flex-flow: row wrap;
  }

  #app {
    grid-template-columns: 0.4fr 3fr;
    padding: 0 2rem;
   flex-flow: column;
  }
}